:root {
  --complementary-colorsblue05: rgba(235, 246, 255, 1);
  --complementary-colorsblue1: rgba(215, 237, 255, 1);
  --complementary-colorsblue3: rgba(134, 202, 255, 1);
  --complementary-colorsblue4: rgba(93, 185, 255, 1);
  --complementary-colorsblue8: rgba(21, 71, 109, 1);
  --complementary-colorsblue95: rgba(5, 23, 36, 1);
  --complementary-colorsred05: rgba(255, 238, 239, 1);
  --complementary-colorsred6: rgba(214, 71, 81, 1);
  --complementary-colorsred85: rgba(110, 27, 32, 1);
  --complementary-colorsyellow05: rgba(255, 253, 237, 1);
  --complementary-colorsyellow2: rgba(255, 245, 183, 1);
  --complementary-colorsyellow4: rgba(255, 236, 112, 1);
  --complementary-colorsyellow5: rgba(255, 231, 76, 1);
  --complementary-colorsyellow7: rgba(167, 151, 46, 1);
  --gray-0: 0px 0px 50px -10px rgba(41, 41, 41, 0.08);
  --h0-anton-regular-active-left-font-family: "Anton-Regular", Helvetica;
  --h0-anton-regular-active-left-font-size: 64px;
  --h0-anton-regular-active-left-font-style: normal;
  --h0-anton-regular-active-left-font-weight: 400;
  --h0-anton-regular-active-left-letter-spacing: 0px;
  --h0-anton-regular-active-left-line-height: 100%;
  --h1-gotham-black-active-center-left-font-family: "GothamBlack-Regular", Helvetica;
  --h1-gotham-black-active-center-left-font-size: 36px;
  --h1-gotham-black-active-center-left-font-style: normal;
  --h1-gotham-black-active-center-left-font-weight: 400;
  --h1-gotham-black-active-center-left-letter-spacing: -1.8px;
  --h1-gotham-black-active-center-left-line-height: 100%;
  --h2-gotham-bold-active-center-left-font-family: "Gotham-Bold", Helvetica;
  --h2-gotham-bold-active-center-left-font-size: 28px;
  --h2-gotham-bold-active-center-left-font-style: normal;
  --h2-gotham-bold-active-center-left-font-weight: 700;
  --h2-gotham-bold-active-center-left-letter-spacing: -1.4px;
  --h2-gotham-bold-active-center-left-line-height: 100%;
  --h3-gotham-bold-active-center-left-font-family: "Gotham-Bold", Helvetica;
  --h3-gotham-bold-active-center-left-font-size: 22px;
  --h3-gotham-bold-active-center-left-font-style: normal;
  --h3-gotham-bold-active-center-left-font-weight: 700;
  --h3-gotham-bold-active-center-left-letter-spacing: -1.1px;
  --h3-gotham-bold-active-center-left-line-height: 100%;
  --h4-gotham-book-active-left-font-family: "Gotham-Book", Helvetica;
  --h4-gotham-book-active-left-font-size: 20px;
  --h4-gotham-book-active-left-font-style: normal;
  --h4-gotham-book-active-left-font-weight: 400;
  --h4-gotham-book-active-left-letter-spacing: -1px;
  --h4-gotham-book-active-left-line-height: 100%;
  --main-colorsgray-1: rgba(230, 230, 230, 1);
  --main-colorsgray0: rgba(159, 159, 159, 1);
  --main-colorsgray10: rgba(0, 0, 0, 1);
  --main-colorsgray15: rgba(115, 115, 115, 1);
  --main-colorsgray2: rgba(100, 100, 100, 1);
  --main-colorsgray3: rgba(70, 70, 70, 1);
  --main-colorsgray4: rgba(41, 41, 41, 1);
  --main-colorsgray5: rgba(11, 11, 11, 1);
  --main-colorsgray95: rgba(1, 1, 1, 1);
  --main-colorsgreen05: rgba(246, 255, 246, 1);
  --main-colorsgreen3: rgba(200, 254, 199, 1);
  --main-colorsgreen6: rgba(131, 226, 129, 1);
  --main-colorsgreen95: rgba(21, 130, 18, 1);
  --main-colorspurple05: rgba(244, 239, 253, 1);
  --main-colorspurple1: rgba(233, 223, 252, 1);
  --main-colorspurple10: rgba(15, 3, 36, 1);
  --main-colorspurple15: rgba(222, 207, 250, 1);
  --main-colorspurple3: rgba(190, 159, 246, 1);
  --main-colorspurple4: rgba(168, 127, 243, 1);
  --main-colorspurple5: rgba(146, 95, 240, 1);
  --main-colorspurple6: rgba(120, 77, 199, 1);
  --main-colorspurple7: rgba(94, 58, 158, 1);
  --main-colorspurple85: rgba(54, 31, 97, 1);
  --main-colorspurple95: rgba(28, 12, 56, 1);
  --p1-gotham-book-active-left-font-family: "Gotham-Book", Helvetica;
  --p1-gotham-book-active-left-font-size: 14px;
  --p1-gotham-book-active-left-font-style: normal;
  --p1-gotham-book-active-left-font-weight: 400;
  --p1-gotham-book-active-left-letter-spacing: -0.7px;
  --p1-gotham-book-active-left-line-height: 100%;
  --p3-gotham-book-active-left-font-family: "Gotham-Book", Helvetica;
  --p3-gotham-book-active-left-font-size: 16px;
  --p3-gotham-book-active-left-font-style: normal;
  --p3-gotham-book-active-left-font-weight: 400;
  --p3-gotham-book-active-left-letter-spacing: -0.8px;
  --p3-gotham-book-active-left-line-height: 100%;
  --purple-0: 0px 0px 50px -10px rgba(151, 71, 255, 0.08);
  --white: rgba(255, 255, 255, 1);
}
