.escultures .wepik-photo-mode {
  position: absolute;
}

.escultures.ten {
  background-image: url(../../../static/img/pdfma6-pdfamouspainting095001c-image-convertido-1-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 308px;
  width: 548px;
}

.escultures.two {
  background-image: url(../../../static/img/wepik-photo-mode-2022926-133638-1.png);
  background-size: 100% 100%;
  height: 278px;
  width: 225px;
}

.escultures.five {
  background-image: url(../../../static/img/beautiful-vintage-collage-composition-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 316px;
  width: 224px;
}

.escultures.six {
  background-image: url(../../../static/img/colorful-vintage-collage-design-1-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 396px;
  width: 280px;
}

.escultures.twelve {
  height: 308px;
  position: relative;
  width: 548px;
}

.escultures.one {
  background-image: url(../../../static/img/escultures.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 297px;
  width: 226px;
}

.escultures.nine {
  background-image: url(../../../static/img/5577774-1.png);
  background-size: 100% 100%;
  height: 370px;
  width: 330px;
}

.escultures.three {
  background-image: url(../../../static/img/wepik-photo-mode-2022926-133257-1.png);
  background-size: 100% 100%;
  height: 299px;
  width: 291px;
}

.escultures.eleven {
  height: 308px;
  position: relative;
  width: 548px;
}

.escultures.eight {
  height: 424px;
  position: relative;
  width: 304px;
}

.escultures.seven {
  background-image: url(../../../static/img/wepik-photo-mode-2022926-13587-1-2.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 397px;
  width: 281px;
}

.escultures.four {
  background-image: url(../../../static/img/vintage-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 316px;
  width: 290px;
}

.escultures.ten .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.two .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.five .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.six .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.twelve .wepik-photo-mode {
  height: 308px;
  left: 272px;
  top: 0;
  width: 276px;
}

.escultures.one .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.nine .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.three .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.eleven .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 272px;
}

.escultures.eight .wepik-photo-mode {
  height: 378px;
  left: 0;
  top: 23px;
  width: 304px;
}

.escultures.seven .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}

.escultures.four .wepik-photo-mode {
  height: 308px;
  left: 0;
  top: 0;
  width: 304px;
}
